body[data-fetching-status="fetching"] > #fetching {
  display: unset;
}

body[data-fetching-status="error"] > #error {
  display: unset;
}

body[data-fetching-status="ready"] > #ready {
  display: unset;
}

#member[data-status=""] {
  visibility: hidden;
}

#member[data-status="false"] > #member-active {
  display: none;
}

#member[data-status="true"] > #member-not-active {
  display: none;
}

#keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
}

#keyboard > div {
  user-select: none;
  /* line-height: 10vh; */
  /* margin: 0px; */
  /* font-size: 5vh; */
}
