body[data-fetching-status="fetching"] > #fetching {
  display: unset;
}

body[data-fetching-status="error"] > #error {
  display: unset;
}

body[data-fetching-status="ready"] > #ready {
  display: unset;
}

#member[data-status=""] {
  display: none;
}

#member[data-status="false"] > #member-active {
  display: none;
}

#member[data-status="true"] > #member-not-active {
  display: none;
}
